.card-item {
    width: 34rem;
    margin-top: 20px;
    box-shadow: rgba(154, 145, 145, 0.2) 0px 8px 24px;
    border-radius: 12px !important;
}
.img-slide{
    width:34rem;
    height:300px;
}
.carousel-control-next-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23B7B7B7%27%3e%3cpath d=%27M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e")!important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23B7B7B7%27%3e%3cpath d=%27M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z%27/%3e%3c/svg%3e")!important;
}
.card-title {
    font-weight: bold !important;
    color: #957AE3
}

.carousel-inner {
    border-radius: 12px;
}

.card-description {
    font-style: italic;
    color: rgb(182, 182, 182);
    font-size: 13px
}

.card-link {
    font-size: 13px;
    margin-bottom: 12px;
}

.badge {
    background-color: #957AE3;
}

@media (max-width: 765px) {
    .card-item {
        width: 28rem;
    }
    .img-slide{
        object-fit: scale-down;
        width: 28rem;
        
    }
}

@media (max-width: 550px) {
    .card-item {
        width: 18rem;
    }
    .img-slide{
        object-fit: scale-down;
        width: 18rem;
        
    }
}