.skill-item{
    display:flex;
    flex-direction: row;
    padding:20px;
    color:rgb(0, 0, 0);
    border-radius: 25px;
    align-items: center;
    width:250px;
    margin:20px;
    cursor: pointer;
    background: linear-gradient(to right, rgb(226, 226, 226) 50%,  rgb(249, 249, 249) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.skill-item:hover {
    background-position: left bottom;
  }
.skill-title{
    font-weight:bold;
    font-size: 15px;
}
.skill-category{
    font-size: 10px;
}
.skill-left{
    padding:5px;
    margin-right:20px;
    background-color: rgb(245, 245, 245);
}
.skill-right{
    flex-direction: column;
}
.skill-img{
    width:60px;
    height:60px;
}

@media (max-width: 700px) {
    .skill-item {
        flex-direction: column;
        justify-content: center;
    }
    .skill-img{
        width:30px;
        height:30px;
    }
}